<h2 class='title'><div id="logo"></div></h2>
<div class="menu-links">Links</div>
{{!-- <div class="youtube-background">
  <iframe frameborder="0" height="50%" width="50%"
    src="https://youtube.com/embed/7eIJRwjBVoc?autoplay=1&controls=0&showinfo=0&autohide=1">
  </iframe>
</div> --}}

<div class="container sticky-bottom">
  <div class="btn btn-download" {{action 'downloadPressed'}}><a href="https://gum.co/KdhT">Download "Shoes"</a></div>
</div>

<div class="youtube-background">
  <iframe frameborder="0" height="100%" width="100%"
    src="https://youtube.com/embed/7eIJRwjBVoc?autoplay=0&controls=0&loop=1&showinfo=0&autohide=1">
  </iframe>
</div>


{{!-- {{outlet}} --}}
